.contents {
    margin:50px 50px;
    padding:0;
    box-sizing: border-box;
}
/* 
<div class="popular_movie">
<div class="popular_movie_img">
    <img alt= "버닝" src="https://hermes.k-june.com/2018/09/Screenshot_20180905-221403-20180905.jpg">
</div> */
.popular_movie_img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    width:100%;
    z-index: 0;
}

.popular_movie_info {
    position: absolute;
    top: 30%;
    bottom: 35%;
    left: 4%;
    width: 36%;
    z-index: 10;
    padding-bottom: 40%;
}