.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-family: 'Jua', sans-serif;
}
.output {
    border: 4px solid goldenrod;
    border-radius: 15px;
    margin: auto auto 20px auto;
    padding: 2% 10%;
    width: 40%;
    text-align: center;
    font-size: 2rem;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    
}
.icon>#doge_btn{
    border:none;
    padding:0px 0px;
    height: 440px;
}
.icon>#doge_img {
    border:none;
    width:50%;
}
.text {
    display: flex;
    border: 3px solid goldenrod;
    border-radius: 8px;
    margin: 10px auto 10px auto;
    width: 40%;
}
.text>input {
    width: 100%;
    margin: 2% 1%;
    border:none;
    outline: none;
    text-align: center;
    cursor:pointer;
}
.text:hover {
    border: 4px solid goldenrod;
}
.input {
    margin-top: 15px;
}
.input>button {
    width:100px;
    height:40px;
    background-color:goldenrod;
    border:none;
    border-radius:35px;
}
.input>button:focus {
    outline: none;
}
.input>button:hover {
    width:110px;
    height:45px;
    cursor:pointer;
}